{% extends 'test2/base.html' %}

{% block content %}
     <div class="main">
     <h2>community</h2>
     <ul class="post_list">
     {% for post in posts %}
        <li>
            <h3><a href="{% url 'community_post_detail' pk=post.pk %}"><span>{{post.title}}</span> 
                    &nbsp&nbsp&nbsp&nbsp <span class="content_sub">작성자 : {{post.author}} | {{post.published_date}}</span></a></h3>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="main_sub">
        <a href="{% url 'community_post_new' %}" class="new_btn"><span  id="plus_item" class="glyphicon glyphicon-plus"></span></a>
    </div>
{% endblock %}
