{% extends 'test2/base4.html' %}

{% load static %}

{% block style %}
<style>
* {
    box-sizing: border-box;
    background-color: beige;
}
/*헤더부분*/
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.header {
    border-bottom: 1px solid #D8ECED;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: white;
}
.header a {
    background-color: white;
}
.header img {
    width: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.DaecheongMaru {
    font-family: 'Dokdo', cursive;
    display: inline;
    color: black;
    font-size: 25px;
    background-color: white;
    position: relative;
    top: 0px;
}
.icon1, .icon2, .icon3, .icon4{
    position: relative;
    top: 7px;

}
.ToMain {
    position: relative;
    left: 125px;
}
.compass {
    position: relative;
    left: 750px;
}
.heart {
    position: relative;
    left: 762.5px;
}
.person {
    position: relative;
    left: 775px;
}


.user_img img {
    position: absolute;
    left: 125px;
    top: 150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.id, .name, .info, .follow, .follower{
  position: absolute;
  left: 500px;
}
.id {
  top: 180px;
}
.name {
  top: 210px;
}
.info {
  top: 240px;
}
.follow {
  top: 270px;
}
.follower {
  top: 300px;
}
.header_sub {
    position: absolute;
    position: fixed;
    top: 10px;
    left: 1000px;
    z-index: 10000000000000000000;
}
.profile_edit {
    position: absolute;
    position: fixed;
    top: 10px;
    left: 1100px;
    z-index: 10000000000000000000;
}

</style>
{% endblock %}

{% block sub %}
<div class="container">
    <div class="header">
        <a href= "{% url 'home' %}" class="ToMain">
            <img src="{% static 'icon1.png' %}" alt="" class="icon1">
            <div class="DaecheongMaru">대청마루</div>
        </a>
        <a href="{% url 'friends_recommend' %}" class="compass">
        <img src="{% static 'icon2.png' %}" class="icon2">
        </a>
        <a href="" class="heart">
        <img src="{% static 'icon3.png' %}" class="icon3">
        </a>
        <a href="{% url 'my_profile' %}" class="person">
        <img src="{% static 'icon4.png' %}" class="icon4">
        </a>
    </div>
</div>
{% endblock %}

{% block content %}


    <div class="user_img">
        <img src="../media/{{ my_info.my_photo }}" alt="alt">
    </div>
    <div class="id">ID :
        {{ my_info.identity }}
    </div>
    <div class="name">name :
        {{ my_info.name }}
    </div>
    <div class="info">me:
        {{ my_info.myinfo }}
    </div>

    <div class="follow">
       follow:
        {{ my_roles_num }}
    </div>
    <div class="follower">
        follower:
        {{ my_unders_num }}
    </div>

<div class="for_member_info_edit">
    <div>
            <a href="{% url 'member_info_edit' pk=my_info.pk %}">
              <input type="button" value="프로필 수정" class="profile_edit">
            </a>

    </div>
</div>
{% endblock %}

{% block my_posts %}
{% for post in user_posts %}
        <p>
            {{ post.identity }}
        </p>
        <p>
            {{ post.photo }}
        </p>

    {% endfor %}


{% endblock %}

{% block logout %}
    <div class="header_sub">
        <label><a href="{% url 'logout' %}"><input type="button" value="LOG OUT"></a></label>
    </div>
{% endblock %}
