{% extends 'test2/base.html' %}

{% block content %}
    <h2>사다리</h2>
    <div>
        <img class="sadari_img" src="{  }" alt="">
    </div>
    
    <div class="time_zone">
            
    </div>

    <div class="result">
        <table class="3th_table">
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>                                    
        </table>
        
        
    </div>
        
    
    <script>
        
    </script>
    
{% endblock %}




{% block aside %}


{% endblock %}